body {
    background-image: linear-gradient(white, aqua);
  }



h1 {
  text-align: center;
  background-image:linear-gradient(violet, yellow);
  font-family : Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  }
}

p {
  color: red;
  border 10px
  font-family : Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif
}

.Degrade {
background-image:linear-gradient(white, black);
}

.w3-top {top: 0;}
